{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<h5>系统菜单</h5>

<section class="list-group">
<a class='list-group-item' href='{% url "men_zhen_chu_fang_biao_create_url" %}'>
药物干预
</a>
<hr>
<a class='list-group-item' href='{% url "Z6201_create_url" %}'>
用户注册
</a>
<hr>
<a class='list-group-item' href='{% url "user_login_create_url" %}'>
用户登录
</a>
<hr>
<a class='list-group-item' href='{% url "doctor_login_create_url" %}'>
员工登录
</a>
<hr>
<a class='list-group-item' href='{% url "A6501_create_url" %}'>
代人预约挂号
</a>
<hr>
<a class='list-group-item' href='{% url "A6502_create_url" %}'>
门诊分诊
</a>
<hr>
<a class='list-group-item' href='{% url "men_zhen_fu_zhu_jian_cha_create_url" %}'>
门诊辅助检查
</a>
<hr>
<a class='list-group-item' href='{% url "tang_niao_bing_zhuan_yong_wen_zhen_create_url" %}'>
糖尿病专用问诊
</a>
<hr>
<a class='list-group-item' href='{% url "yao_shi_fu_wu_create_url" %}'>
用药提醒服务
</a>
<hr>
<a class='list-group-item' href='{% url "tang_niao_bing_zi_wo_jian_ce_create_url" %}'>
糖尿病自我监测
</a>
<hr>
<a class='list-group-item' href='{% url "A6217_create_url" %}'>
院内辅助问诊
</a>
<hr>
<a class='list-group-item' href='{% url "A6201_create_url" %}'>
院外咨询
</a>
<hr>
<a class='list-group-item' href='{% url "A6218_create_url" %}'>
门诊医生问诊
</a>
<hr>
<a class='list-group-item' href='{% url "T8901_create_url" %}'>
胰岛素依赖性糖尿病
</a>
<hr>
<a class='list-group-item' href='{% url "T6301_create_url" %}'>
糖尿病一般随访
</a>
<hr>
<a class='list-group-item' href='{% url "A6202_create_url" %}'>
院外辅助问诊
</a>
<hr>
<a class='list-group-item' href='{% url "A6220_create_url" %}'>
监测评估
</a>
<hr>
<a class='list-group-item' href='{% url "A6299_create_url" %}'>
建立居民健康档案
</a>
<hr>
<a class='list-group-item' href='{% url "A3502_create_url" %}'>
尿常规检查
</a>
<hr>
<a class='list-group-item' href='{% url "tang_niao_bing_cha_ti_create_url" %}'>
糖尿病查体
</a>
<hr>
<a class='list-group-item' href='{% url "xue_ya_jian_ce_create_url" %}'>
血压监测
</a>
<hr>
<a class='list-group-item' href='{% url "kong_fu_xue_tang_jian_cha_create_url" %}'>
空腹血糖检查
</a>
<hr>
<a class='list-group-item' href='{% url "tang_hua_xue_hong_dan_bai_jian_cha_biao_create_url" %}'>
糖化血红蛋白检查表
</a>
<hr>
<a class='list-group-item' href='{% url "T9001_create_url" %}'>
非胰岛素依赖性糖尿病
</a>
<hr>

</section>


<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}
