{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

    <label value="客户">客户：</label> <input class="form-control" type="search" 
    name="search" placeholder="查找客户..." 
    hx-post="search_customers/"
    hx-trigger="keyup changed delay:500ms, search" 
    hx-target="#search-results" 
    hx-indicator=".htmx-indicator">

    <div id="search-results"></div>
    <br>
    <hr>
    <br>

    {% verbatim %}
    <div id="app">
        <div v-for="item in unassignedProcs" :key="item.title">
            <div v-if="item.unassigned_procs.length > 0">
            <h3>{{ item.title }}</h3>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">客户姓名</th>
                        <th scope="col">服务项目</th>
                        <th v-if="item.title != '共享服务'" scope="col">计划日期</th>
                        <th scope="col">负责人</th>
                        <th v-if="item.title != '共享服务'" scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="proc in item.unassigned_procs" :key="proc.id">
                        <td><a href="#" @click="handleProcOperation(proc.id, false, 'RECEIVE')">{{ proc.customer_name }}</a></td>
                        <td :class="{'red': proc.acceptance_timeout}">{{ proc.service_label }}</td>
                        <td v-if="item.title != '共享服务'">{{ proc.scheduled_time.split(' ')[0].split('.').slice(1, 3).join('.') }}</td>
                        <td>{{ proc.charge_staff }}</td>
                        <td v-if="item.title != '共享服务'" >
                            <a href="#" @click="handleProcOperation(proc.id, false, 'CANCEL')">撤销</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br> 
            </div>
        </div> 
        <hr>
        <br>
        <div v-for="item in staffTodos" :key="item.title">
            <h3>{{ item.title }}</h3>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">居民档案号</th>
                        <th scope="col">姓名</th>
                        <th scope="col">服务项目</th>
                        <th v-if="item.title == '本周服务安排'" scope="col">计划时间</th>
                        <th scope="col">联系电话</th>
                        <th scope="col">家庭地址</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="todo in item.todos" :key="todo.id">
                        <td>{{ todo.customer_number }}</td>
                        <td><a :href="todo.state == 3 ? null : 'customer_service/' + todo.customer_id">{{ todo.customer_name }}</a></td>
                        <td :class="{'red': todo.completion_timeout}">{{ todo.service_label }}</td>
                        <td v-if="item.title == '本周服务安排'">{{ todo.scheduled_time }}</td>
                        <td>{{ todo.customer_phone }}</td>
                        <td>{{ todo.customer_address }}</td>
                        <td>
                            <span @click.stop="openMenu(todo.id)">...</span>
                            <div v-if="openMenuTodoId === todo.id" class="dropdown-menu">
                                <a href="#" @click.stop.prevent="openSwapMenu(todo)">
                                    换班 <span class="triangle">&#9654;</span>
                                    <div v-if="openSwapMenuTodoId === todo.id" class="sub-menu">
                                        <a v-for="employee in shiftEmployees" :key="employee.id" href="#" @click.stop.prevent="handleShift(todo.id, employee.id)">
                                            {{ employee.name }}
                                        </a>
                                    </div>
                                </a>
                                <a href="#" @click="handleProcOperation(todo.id, true, 'ROLLBACK')">退回</a>
                                <a href="#" @click="handleProcOperation(todo.id, true, 'SUSPEND_OR_RESUME')">{{ todo.state==3? '恢复' : '挂起'}}</a>
                                <a href="#" @click="handleProcOperation(todo.id, true, 'CANCEL')">撤销</a>
                            </div>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <hr>
            <br>
        </div>
        <div v-if="showConfirmation" class="confirmation-box">
            <p>确认要进行换班操作吗？</p>
            <button @click="confirmShift">确认</button>
            <button @click="cancelShift">取消</button>
        </div>
    </div>
    {% endverbatim %}

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>    
    <script>
        const { createApp } = Vue;

        // 获取当前日期（格式化为 "yy.mm.dd"）
        const today = new Date().toLocaleDateString('zh-CN', {
            year: '2-digit',
            month: '2-digit',
            day: '2-digit'
        }).replace(/\//g, '.');

        const customerServiceApp = {
            data() {
                return {
                    staffTodos: null,
                    unassignedProcs: [],
                    openMenuTodoId: null,
                    openSwapMenuTodoId: null,
                    shiftEmployees: [],
                    allEmployees: [],
                    showConfirmation: false,
                    currentEmployeeId: null,
                }
            },

            methods: {
                handleProcOperation(id, hasAssigned, opCode) {
                    window.location.href = 'manage_task/?proc_id=' + id + '&op_code=' + opCode
                },
                openMenu(id) {
                    this.openMenuTodoId = id;
                },
                openSwapMenu(todo) {
                    this.openSwapMenuTodoId = todo.id;
                    // 筛选出允许服务当前服务项目的员工
                    this.shiftEmployees = this.allEmployees.filter(employee => employee.allowed_services.includes(todo.service_id));
                },
                handleShift(todoId, employeeId) {
                    this.currentEmployeeId = employeeId;                    
                    // this.showConfirmation = true;
                    window.location.href = 'manage_task/?proc_id=' + todoId + '&op_code=SHIFT&operator_id=' + employeeId;
                },                
                confirmShift() {
                    console.log('确认换班到员工ID:', this.currentEmployeeId);
                    // 这里处理换班的逻辑

                    this.showConfirmation = false;  // 关闭确认框
                    this.openSwapMenuTodoId = null; // 关闭子菜单
                    this.openMenuTodoId = null;     // 关闭主菜单
                },
                cancelShift() {
                    this.showConfirmation = false;  // 只关闭确认框
                },
                handleOutsideClick(event) {
                    // 隐藏主菜单、子菜单
                    this.openMenuTodoId = null;
                    this.openSwapMenuTodoId = null;
                },
            },

            created() {
                let _this = this;
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws"

                // 建立信道：操作员任务列表
                const staffTodosListSocket = new WebSocket(`${ws_scheme}://${window.location.host}/ws/staff_todos_list/`);
                staffTodosListSocket.onmessage = function (event) {
                    _this.staffTodos = JSON.parse(event.data)
                };

                // 建立信道：未分配服务进程
                const unassignedProcsSocket = new WebSocket(`${ws_scheme}://${window.location.host}/ws/unassigned_procs/`);
                unassignedProcsSocket.onmessage = function (event) {
                    // 未分配服务进程unassignedProcs
                    _this.unassignedProcs = JSON.parse(event.data);
                };

                // 获取员工列表[{'id': 1, 'name': '张三', 'allow_services': [1,2,3]}, ...]
                const domain = Cookies.get('environment') === 'dev' ? '127.0.0.1:8000' : 'clinic.tpacn.com';
                const fetchEmployeesURL = `http://${domain}/core/api/get_employees/`;
                const fetchEmployees = async () => {
                    try {
                        const response = await fetch(fetchEmployeesURL, {
                            headers: {
                                'Accept': 'application/json',
                            }
                        });
                        if (!response.ok) {
                            throw new Error('HTTP error ' + response.status);
                        }
                        const result = await response.json();
                        _this.allEmployees = result;
                    } catch (error) {
                        console.error('Error:', error);
                    }
                }
                fetchEmployees();
            },
            mounted() {
                document.addEventListener('click', this.handleOutsideClick);
            },

            beforeDestroy() {
                document.removeEventListener('click', this.handleOutsideClick);
            },
        };

        createApp(customerServiceApp).mount('#app');
    </script>

    <style type="text/css">
        .red{            
            color: red;
        }
        .dropdown-menu {
            display: block;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            z-index: 1;
        }
        .dropdown-menu a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
        }
        .dropdown-menu a:hover {
            background-color: #eee;
        }
        .sub-menu {
            display: block;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            left: 100%;
            top: 0;
            z-index: 2;
            white-space: nowrap; /* 确保子菜单项中的文字不会换行 */
        }
        .triangle {
            display: inline-block;
            transition: transform 0.2s;
        }
        .sub-menu-open .triangle {
            transform: rotate(90deg);
        }       
        .confirmation-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            z-index: 3; /* 确保确认框在其他菜单上面 */
            text-align: center;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .confirmation-box button {
            padding: 5px 15px;
            margin: 5px;
            border: none;
            cursor: pointer;
            background-color: #f5f5f5;
            transition: background-color 0.3s;
        }

        .confirmation-box button:hover {
            background-color: #ddd;
        }        
        
    </style>

{% endblock %}