{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

    <label value="客户">客户：</label> <input class="form-control" type="search" 
    name="search" placeholder="查找客户..." 
    hx-post="search_customers/"
    hx-trigger="keyup changed delay:500ms, search" 
    hx-target="#search-results" 
    hx-indicator=".htmx-indicator">

    <div id="search-results"></div>
    <br>
    <hr>
    <br>

    {% verbatim %}
    <div id="app">
        <h3>共享服务</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">客户姓名</th>
                    <th scope="col">服务项目</th>
                    <th scope="col">负责人</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="proc in todayUnassignedProcs" :key="proc.id">
                    <td><a :href="'receive_task/' + proc.id">{{ proc.customer_name }}</a></td>
                    <td :class="{'red': proc.acceptance_timeout}">{{ proc.service_label }}</td>
                    <td>{{ proc.charge_staff }}</td>
                </tr>
            </tbody>
        </table>        
        <br>
        <h3>过期任务</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">客户姓名</th>
                    <th scope="col">服务项目</th>
                    <th scope="col">计划日期</th>
                    <th scope="col">负责人</th>
                    <th scope="col">撤销</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="proc in expiredUnassignedProcs" :key="proc.id">
                    <td><a :href="'receive_task/' + proc.id">{{ proc.customer_name }}</a></td>
                    <td :class="{'red': proc.acceptance_timeout}">{{ proc.service_label }}</td>
                    <td>{{ proc.scheduled_time.split(' ')[0].split('.').slice(1, 3).join('.') }}</td>
                    <td>{{ proc.charge_staff }}</td>
                    <td style="text-align: center;"><a :href="'cancel_task/' + proc.id">x</a></td>
                </tr>
            </tbody>
        </table>        
        <br>
        <h3>近期任务</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">客户姓名</th>
                    <th scope="col">服务项目</th>
                    <th scope="col">计划日期</th>
                    <th scope="col">负责人</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="proc in recentUnassignedProcs" :key="proc.id">
                    <td><a :href="'receive_task/' + proc.id">{{ proc.customer_name }}</a></td>
                    <td :class="{'red': proc.acceptance_timeout}">{{ proc.service_label }}</td>
                    <td>{{ proc.scheduled_time.split(' ')[0].split('.').slice(1, 3).join('.') }}</td>
                    <td>{{ proc.charge_staff }}</td>
                </tr>
            </tbody>
        </table>        
        <br>
        <hr>
        <br>
        <div v-for="item in staffTodos" :key="item.title">
            <h3>{{ item.title }}</h3>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">居民档案号</th>
                        <th scope="col">姓名</th>
                        <th scope="col">服务项目</th>
                        <th v-if="item.title == '本周服务安排'" scope="col">计划时间</th>
                        <th scope="col">联系电话</th>
                        <th scope="col">家庭地址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="todo in item.todos" :key="todo.id">
                        <td>{{ todo.customer_number }}</td>
                        <td><a :href="'customer_service/' + todo.customer_id">{{ todo.customer_name }}</a></td>
                        <td :class="{'red': todo.completion_timeout}">{{ todo.service_label }}</td>
                        <td v-if="item.title == '本周服务安排'">{{ todo.scheduled_time }}</td>
                        <td>{{ todo.customer_phone }}</td>
                        <td>{{ todo.customer_address }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <hr>
            <br>
        </div>
    </div>
    {% endverbatim %}

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const { createApp } = Vue;

        // 获取当前日期（格式化为 "yy.mm.dd"）
        const today = new Date().toLocaleDateString('zh-CN', {
            year: '2-digit',
            month: '2-digit',
            day: '2-digit'
        }).replace(/\//g, '.');

        const customerServiceApp = {
            data() {
                return {
                    staffTodos: null,
                    permittedServicesId: [],
                    unassignedProcs: [],
                }
            },
            computed: {
                // 所有任务：用permittedServicesId过滤unassignedProcs，返回当前操作员有操作权限的进程列表，且proc.scheduled_time仅限当天
                permittedUnassignedProcs() {
                    return this.unassignedProcs.filter(
                        proc => {
                            return this.permittedServicesId.includes(proc.service_id)
                        }
                    )
                },
                // 当天任务：用permittedServicesId过滤unassignedProcs，且proc.scheduled_time仅限当天
                todayUnassignedProcs() {
                    return this.unassignedProcs.filter(
                        proc => this.permittedServicesId.includes(proc.service_id) && proc.scheduled_time.split(' ')[0] === today
                    )
                },
                // 过期任务：用permittedServicesId过滤unassignedProcs，返回当前操作员有操作权限的进程列表，且proc.scheduled_time在当天之前
                expiredUnassignedProcs() {
                    expiredProcs = this.unassignedProcs.filter(
                        proc => {
                            return this.permittedServicesId.includes(proc.service_id)
                        }
                    )
                    return expiredProcs.filter(
                        proc => {
                            const procDate = new Date("20" + proc.scheduled_time.split(' ')[0].replace(/\./g, '/'));
                            const currentDate = new Date("20" + today.replace(/\./g, '/'));
                            return procDate < currentDate;
                        }
                    )
                },
                // 近期服务：用permittedServicesId过滤unassignedProcs，返回当前操作员有操作权限的进程列表，且proc.scheduled_time在当天之后
                recentUnassignedProcs() {
                    recentProcs = this.unassignedProcs.filter(
                        proc => {
                            return this.permittedServicesId.includes(proc.service_id)
                        }
                    )
                    return recentProcs.filter(
                        proc => {
                            const procDate = new Date("20" + proc.scheduled_time.split(' ')[0].replace(/\./g, '/'));
                            const currentDate = new Date("20" + today.replace(/\./g, '/'));
                            return procDate > currentDate;
                        }
                    )
                },
            },

            created() {
                let _this = this;
                
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws"

                // 建立信道：操作员任务列表
                const staffTodosListSocket = new WebSocket(`${ws_scheme}://${window.location.host}/ws/staff_todos_list/`);
                staffTodosListSocket.onmessage = function (event) {
                    _this.staffTodos = JSON.parse(event.data)
                };

                // 建立信道：未分配服务进程
                const unassignedProcsSocket = new WebSocket(`${ws_scheme}://${window.location.host}/ws/unassigned_procs/`);
                unassignedProcsSocket.onmessage = function (event) {
                    _data = JSON.parse(event.data);
                    // 区分后台发来的内容，赋给各自的响应式变量：
                    // 未分配服务进程unassignedProcs
                    // 有操作权限的服务id列表permittedServicesId
                    if (_data.hasOwnProperty('unassignedProcs')) {
                        _this.unassignedProcs = _data.unassignedProcs
                    } else {
                        _this.permittedServicesId = _data.permittedServicesId
                    }
                };
            }
        };

        createApp(customerServiceApp).mount('#app');
    </script>

    <style type="text/css">
        .red{            
            color: red;
        }
    </style>

{% endblock %}