{% extends "admin/change_form.html" %}

{% block extrahead %}
<script>
{'computed_field_name': 'boolfield_ti_zhi_zhi_shu', 'computed_field_label': '体质指数', 'computation_logic': '体质指数=体重/身高的平方'}
{'field_name': 'boolfield_ti_wen', 'field_label': '体温'}
{'field_name': 'boolfield_mai_bo', 'field_label': '脉搏'}
{'field_name': 'boolfield_hu_xi_pin_lv', 'field_label': '呼吸频率'}
{'field_name': 'boolfield_shen_gao', 'field_label': '身高'}
{'field_name': 'boolfield_ti_zhong', 'field_label': '体重'}
{'field_name': 'boolfield_ti_zhi_zhi_shu', 'field_label': '体质指数'}
{'field_name': 'boolfield_shou_suo_ya', 'field_label': '收缩压'}
{'field_name': 'boolfield_shu_zhang_ya', 'field_label': '舒张压'}
{'field_name': 'boolfield_yao_wei', 'field_label': '腰围'}
{'field_name': 'boolfield_yan_bu', 'field_label': '咽部'}
{'field_name': 'boolfield_xia_zhi_shui_zhong', 'field_label': '下肢水肿'}
</script>
{% endblock %}