{% extends "admin/base_site.html" %}
{% load i18n static %}
<!-- 
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %} -->

{% block content %}
    <h3>请指定操作员</h3>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
          {{ form }}
          <br>
          <br>
      {% endfor %}
        <button type="submit">保存</button>
      </form>
{% endblock %}