{% extends "admin/change_form.html" %}

{% block extrahead %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // 获取输入框元素
      const boolfield_shen_gao = document.getElementById("id_boolfield_shen_gao");
      const boolfield_ti_zhong = document.getElementById("id_boolfield_ti_zhong");
      const boolfield_ti_zhi_zhi_shu = document.getElementById("id_boolfield_ti_zhi_zhi_shu");

      // 计算BMI的函数
      const calculateBmi = (shenGao, tiZhong) => {
        if (shenGao > 0 && tiZhong > 0) {
          const shenGaoInMeters = shenGao / 100;
          return (tiZhong / (shenGaoInMeters * shenGaoInMeters)).toFixed(1);
        }
        return None;
      };

      // 更新BMI的函数
      const update_boolfield_ti_zhi_zhi_shu = () => {
        const shen_gao = parseFloat(boolfield_shen_gao.value);
        const ti_zhong = parseFloat(boolfield_ti_zhong.value);
        boolfield_ti_zhi_zhi_shu.value = calculateBmi(shen_gao, ti_zhong);
      };

      // 为身高和体重输入框添加事件监听器
      boolfield_shen_gao.addEventListener("input", update_boolfield_ti_zhi_zhi_shu);
      boolfield_ti_zhong.addEventListener("input", update_boolfield_ti_zhi_zhi_shu);
    });
  </script>
{% endblock %}
