<table class="table">
    <thead>
    <tr>
    {% for header in customer_profile_fields_header %}
    <th>{{ header }}</th>
    {% endfor %}
    <!-- <th>操作</th> -->
    </tr>
    </thead>
    <tbody>
        {% for profile in customer_profiles %} 
        <tr >
            {% for value in profile.selected_profile %} 
            <td> {{ value }} </td>
            {% endfor %}
            <td> <a href="customer_service/{{ profile.customer_id }}">查看</a> </td>
        </tr >
        {% endfor %}
    </tbody>
</table>
