{% extends "admin/change_form.html" %}

{% block extrahead %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Retrieve DOM elements of all fields involved in the expression logic.
        const boolfield_zhen_duan = document.getElementById("id_boolfield_zhen_duan");
        const boolfield_yao_pin_ming_cheng = document.getElementById("id_boolfield_yao_pin_ming_cheng");

        // A function implementing the event expression logic. It accepts the field values as arguments, and returns a boolean
        const form_event = (zhen_duan, yao_pin_ming_cheng) => {
            return new Set(['糖尿病']).has(boolfield_zhen_duan) && new Set(['葡萄糖']).has(boolfield_yao_pin_ming_cheng);
        };

        // Evaluate if the related fields value matches the form event condition, if so, alert the user
        const update_input = () => {
            const zhen_duan = boolfield_zhen_duan.value;
            const yao_pin_ming_cheng = boolfield_yao_pin_ming_cheng.value;
            form_event_value = form_event(zhen_duan, yao_pin_ming_cheng);
            // If form_event() returns true, then alert the user
            if (form_event_value) {
                alert("糖尿病患者不可使用葡萄糖");
            }
        };

        // Add input event listener to related fields
        boolfield_zhen_duan.addEventListener("input", update_input);
        boolfield_yao_pin_ming_cheng.addEventListener("input", update_input);
    });
</script>
{% endblock %}