{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>    
<script>
    document.addEventListener('DOMContentLoaded', async function() {
        const domain = Cookies.get('environment') === 'dev' ? '127.0.0.1:8000' : 'clinic.tpacn.com';

        // 根据表单检测范围，从CustomerServiceLog获取历史记录，构造boolfield_ji_bing_ming_cheng数组上下文
        const customerId = Cookies.get('customer_id');
        const period = 'ALL';  // 'ALL' or 'LAST_WEEK_SERVICES'
        const form_class = 0;  // 指定表单类别
        const fetchCustomerServiceLogURL = `http://${domain}/core/api/customer_service_log/`;
        const fetchCustomerServiceLog = async (customerId, period=null, form_class=0) => {
            let url = fetchCustomerServiceLogURL + `?customer=${customerId}`
            if (period !== null) {
                url += `&period=${period}`;
            }
            if (form_class > 0) {
                url += `&form_class=${form_class}`;
            }
            try {
                const response = await fetch(url, {
                    headers: {
                        'Accept': 'application/json',
                    }
                });
                if (!response.ok) {
                    throw new Error('HTTP error ' + response.status);
                }
                const result = await response.json();
                // 将获取的boolfield_ji_bing_ming_cheng历史记录保存在数组中返回
                const logs = JSON.parse(result);
                arrayValue = logs.filter(log => log.fields.data.hasOwnProperty('boolfield_ji_bing_ming_cheng'))
                    .map(log => {
                        s = log.fields.data.boolfield_ji_bing_ming_cheng;
                        v = s.replace("{", "").replace("}", "").replace(/'/g, "")
                        return {value: v, datetime: log.fields.created_time};
                    });
                return arrayValue;
            } catch (error) {
                console.error('Error:', error);
            }
        }
        const context_boolfield_ji_bing_ming_cheng = await fetchCustomerServiceLog(customerId, period, form_class);
        console.log(context_boolfield_ji_bing_ming_cheng);
        
        
        // ******************************************
        // 显示字段提示
        // ******************************************
        const showIcpcHint = async (node) => {
            const fetchIcpcItemURL = `http://${domain}/core/api/get_icpc_item/`;
            const fetchIcpcItem = async (node_field_name, itemId) => {
                let url = fetchIcpcItemURL + `?fieldName=${node_field_name}&itemId=${itemId}`
                try {
                    const response = await fetch(url, { headers: {'Accept': 'application/json',} });
                    if (!response.ok) {
                        throw new Error('HTTP error ' + response.status);
                    }
                    const result = await response.json();
                    return result;
                } catch (error) {
                    console.error('Error:', error);
                    return null;
                }
            }

            // 1. 从node获取字段名称、itemId
            // 当前node字段名
            let parts = node.id.split('-')
            parts.pop()
            let node_field_name = parts.pop().substr(3)
            // 获取itemId
            const itemId = node.parentElement.parentElement.parentElement.parentElement.firstElementChild.value
            if (!itemId) return

            // 2. fetch API获取item详细信息
            const icpcItem = await fetchIcpcItem(node_field_name, itemId)

            // 3. 显示字段提示
            const hintFields = ['包含', '排除', '考虑']
            const parentNode = node.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement
            // 构造提示div
            let hintDiv = document.createElement("div")
            hintDiv.id = "dynamic_hint"; 
            hintFields.forEach(field => {
                console.log(field, ":", icpcItem[field])
                let textContent = icpcItem[field]
                if ((textContent === null) || (textContent === undefined))
                    textContent = ''
                let newLabel = document.createElement("div")
                newLabel.textContent = `${field}: ${textContent}`
                hintDiv.appendChild(newLabel)
                hintDiv.appendChild(document.createElement("p"))
            })
            existingHintDiv = parentNode.parentElement.querySelector('#dynamic_hint')
            if (existingHintDiv) {
                parentNode.parentElement.removeChild(existingHintDiv)
            }
            parentNode.insertAdjacentElement('afterend', hintDiv);
        }
        

        // 创建观察器，接受一个回调函数为参数
        function createObserver(callback) {
            return new MutationObserver(function(mutationsList, observer) {
                for (let mutation of mutationsList) {
                    if (mutation.type === 'childList' && mutation.addedNodes.length > 0) {
                        callback(mutation.target);
                    }
                }
            });
        }
        const mutationObserverConfig = { childList: true, subtree: true }

        // 定义全局变量，用于存储被跟踪的字段当前值
        const current_values = {
            boolfield_ji_bing_ming_cheng: null,
            boolfield_yao_pin_ming: null
        }

        // boolfield_ji_bing_ming_cheng变化处理
        function boolfield_ji_bing_ming_chengHandleChanges(node) {
            if (node.hasAttribute('title')) {
                const title = node.getAttribute('title').trim();
                if (title !== current_values.boolfield_ji_bing_ming_cheng) {
                    current_values.boolfield_ji_bing_ming_cheng = title;
                    document.querySelector('input[name="_save"]').disabled = false;
                    
                    
                    // 显示字段提示
                    showIcpcHint(node)
                }
            }
        }

        // 为boolfield_ji_bing_ming_cheng <select>元素添加事件监听器
        const boolfield_ji_bing_ming_cheng = document.querySelector('.form-row.field-boolfield_ji_bing_ming_cheng .related-widget-wrapper span.select2-selection__rendered');
        const observer_boolfield_ji_bing_ming_cheng = createObserver(boolfield_ji_bing_ming_chengHandleChanges);
        observer_boolfield_ji_bing_ming_cheng.observe(boolfield_ji_bing_ming_cheng, mutationObserverConfig)
        showIcpcHint(boolfield_ji_bing_ming_cheng)

        // boolfield_yao_pin_ming变化处理
        function boolfield_yao_pin_mingHandleChanges(node) {
            if (node.hasAttribute('title')) {
                const title = node.getAttribute('title').trim();
                if (title !== current_values.boolfield_yao_pin_ming) {
                    current_values.boolfield_yao_pin_ming = title;
                    document.querySelector('input[name="_save"]').disabled = false;
                    
                    
                }
            }
        }

        // 先为已存在的第一个boolfield_yao_pin_ming <select>元素添加事件监听器
        const existingSpanElement = document.querySelector('.form-row.dynamic-yi_xing_tang_niao_bing_zhen_duan_list_set .related-widget-wrapper span.select2-selection__rendered');
        const observer_boolfield_yao_pin_ming = createObserver(boolfield_yao_pin_mingHandleChanges);
        observer_boolfield_yao_pin_ming.observe(existingSpanElement, mutationObserverConfig);

        // 需要观察的目标节点
        const targetNode = document.querySelector('#yi_xing_tang_niao_bing_zhen_duan_form tbody');

        // 当观察到变动时执行的回调函数
        const trNodeCallback = function(mutationsList, observer) {
            for(let mutation of mutationsList) {
                // 检查是否有新节点被添加到DOM中
                if(mutation.type === 'childList') {
                    // 获得新的<tr>节点
                    var addedNodes = mutation.addedNodes;
                    for(let i = 0; i < addedNodes.length; i++) {
                        // 判断节点类型是不是元素节点，且节点名字是不是'tr'
                        if(addedNodes[i].nodeType === 1 && addedNodes[i].nodeName === 'TR') {
                            var trNode = addedNodes[i];
                            // 找到包含boolfield_yao_pin_ming名称的节点
                            var yaoPinMingNode = trNode.querySelector('span.select2-selection__rendered');
                            if(yaoPinMingNode) {
                                // 为新tr创建观察器
                                observer_boolfield_yao_pin_ming.observe(yaoPinMingNode, mutationObserverConfig);
                            } else {
                                console.log('No select node in new TR node');
                            }
                        }
                    }
                }
            }
        };

        // 创建一个观察器实例并传入回调函数
        const tableObserver = new MutationObserver(trNodeCallback);

        // 以上述配置开始观察目标节点
        tableObserver.observe(targetNode, mutationObserverConfig);

    });
</script>

{% endblock %}