{% extends "base.html" %}
    {% block content %}
    
        <form action='' method='GET' enctype='multipart/form-data'> 
            {% csrf_token %}                
            <h5>个人基本信息</h5>
            {{ base_form.as_table }}
        </form>
        <hr><form action={% url 'A6218_create_url' %} method='POST' enctype='multipart/form-data'> 
            {% csrf_token %}                
            <h5>门诊医生问诊</h5>
            {{ attribute_form0.as_p }}
        <hr>
        </form>
        <input type="submit" value="完成服务" onclick="formSave('attribute_form1')" />
    {% endblock %}
    