{% extends "base.html" %}

    {% load crispy_forms_tags %}

    {% block content %}
    
        <form action={% url 'ge_ren_guo_min_shi_diao_cha_biao_update_url' proc_id %} method='POST' enctype='multipart/form-data'> 
            {% csrf_token %}
                
                        <h5>ge_ren_guo_min_shi_diao_cha_biao</h5>
                        {{ ge_ren_guo_min_shi_diao_cha_biao.as_p }}
                        <hr>
            <input type="submit" value="提交" /> 
        </form>

    {% endblock %}
    