

{% extends "base.html" %}

{% block content %}

<h4>表单目录</h4>

<section class="list-group">
	<a class="list-group-item" href="{% url "user_registry_list_url" %}">
		用户注册表
	</a>
	<a class="list-group-item" href="{% url "doctor_login_list_url" %}">
		医生登陆
	</a>
	<a class="list-group-item" href="{% url "user_login_list_url" %}">
		用户登录
	</a>
	<a class="list-group-item" href="{% url "doctor_registry_list_url" %}">
		医生注册
	</a>
	<a class="list-group-item" href="{% url "basic_personal_information_list_url" %}">
		个人基本情况
	</a>
	<a class="list-group-item" href="{% url "family_history_list_url" %}">
		家族病史
	</a>
	<a class="list-group-item" href="{% url "history_of_infectious_diseases_list_url" %}">
		遗传病史
	</a>

</section>

{% endblock %}