{% extends "base.html" %}

{% block content %}

<br>

<h5>当前任务</h5>
	<section class="list-group">
	{% for todo in todos %}
		<a class="list-group-item" href="{% url todo.url todo.proc_id %}">
		{{ todo.operation }}
		</a>
	{% endfor %}
	</section>

<br>

<hr>

<br>

<h5>系统菜单</h5>

<section class="list-group">
<a class='list-group-item' href='{% url "yuan_qian_zheng_zhuang_diao_cha_biao_create_url" %}'>
		院前症状调查表
	</a>
        <a class='list-group-item' href='{% url "ge_ren_ji_bing_shi_diao_cha_biao_create_url" %}'>
		个人疾病史调查表
	</a>
        <a class='list-group-item' href='{% url "kong_fu_xue_tang_jian_cha_biao_create_url" %}'>
		空腹血糖检查表
	</a>
        <a class='list-group-item' href='{% url "men_zhen_zhen_duan_biao_create_url" %}'>
		门诊诊断表
	</a>
        <a class='list-group-item' href='{% url "tang_hua_xue_hong_dan_bai_jian_cha_biao_create_url" %}'>
		糖化血红蛋白检查表
	</a>
        <a class='list-group-item' href='{% url "chang_gui_cha_ti_biao_create_url" %}'>
		常规查体表
	</a>
        <a class='list-group-item' href='{% url "tang_niao_bing_cha_ti_biao_create_url" %}'>
		糖尿病查体表
	</a>
        <a class='list-group-item' href='{% url "ge_ren_guo_min_shi_diao_cha_biao_create_url" %}'>
		个人过敏史调查表
	</a>
        <a class='list-group-item' href='{% url "men_zhen_wen_zhen_diao_cha_biao_create_url" %}'>
		门诊问诊调查表
	</a>
        
</section>
{% endblock %}