{% extends "base.html" %}
    {% block content %}
    
        <form action='' method='GET' enctype='multipart/form-data'> 
            {% csrf_token %}                
            <h5>个人基本信息</h5>
            {{ base_form.as_table }}
        </form>
        <hr><form action={% url 'men_zhen_chu_fang_biao_update_url' id %} method='POST' enctype='multipart/form-data'> 
            {% csrf_token %}                
            <h5>药物处方</h5>
            {{ a5001_form.as_p }}
        <hr>
        </form>
        <input type="submit" value="完成服务" onclick="formSave('a5001_form')" />
    {% endblock %}
    