

{% extends "base.html" %}

{% block content %}

<h4>查体运动能力</h4>

<a href="{% url "physical_examination_athletic_ability_create_url" %}">
			新增
		</a>

<section class="list-group">
	{% for physical_examination_athletic_ability in physical_examination_athletic_abilitys %}
		<a class="list-group-item" href="{% url "physical_examination_athletic_ability_detail_url" physical_examination_athletic_ability.slug %}">
			{{ physical_examination_athletic_ability }}
		</a>
	{% endfor %}
</section>

{% endblock %}