{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

	<form action={% url 'tang_niao_bing_sui_fang_create_url' %} method='POST' enctype='multipart/form-data'> 
		{% csrf_token %}
            
        <h5>个人健康行为调查</h5>
        {{ form_personal_health_behavior_survey.as_p }}
        <hr>
        <h5>眼底检查</h5>
        {{ form_fundus_examination.as_p }}
        <hr>
        <h5>足背动脉搏动检查</h5>
        {{ form_dorsal_artery_pulsation_examination.as_p }}
        <hr>
        <h5>个人基本情况</h5>
        {{ form_basic_personal_information.as_p }}
        <hr>
        <h5>用药调查表</h5>
        {{ form_yong_yao_diao_cha_biao.as_p }}
        <hr>
        <h5>血压监测表</h5>
        {{ form_xue_ya_jian_ce_biao.as_p }}
        <hr>
		<input type="submit" value="提交" /> 
	</form>

{% endblock %}
