{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

	<form action={% url 'tang_hua_xue_hong_dan_bai_jian_cha_biao_update_url' proc_id %} method='POST' enctype='multipart/form-data'> 
		{% csrf_token %}
            
        <h5>个人基本情况_查询视图_1642159528</h5>
        {{ form_basic_personal_information.as_p }}
        <hr>
        <h5>糖化血红蛋白检查表</h5>
        {{ form_tang_hua_xue_hong_dan_bai_jian_cha_biao.as_p }}
        <hr>
		<input type="submit" value="提交" /> 
	</form>

{% endblock %}
