{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

	<form action={% url 'tang_niao_bing_cha_ti_biao_update_url' proc_id %} method='POST' enctype='multipart/form-data'> 
		{% csrf_token %}
            
        <h5>个人基本情况_查询视图_1642159528</h5>
        {{ form_basic_personal_information.as_p }}
        <hr>
        <h5>眼底检查</h5>
        {{ form_fundus_examination.as_p }}
        <hr>
        <h5>足背动脉搏动检查</h5>
        {{ form_dorsal_artery_pulsation_examination.as_p }}
        <hr>
		<input type="submit" value="提交" /> 
	</form>

{% endblock %}
