{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

	<form action={% url 'test_operation_form3_create_url' %} method='POST' enctype='multipart/form-data'> 
		{% csrf_token %}
            
        <h5>个人基本情况</h5>
        {{ form0.as_p }}
        <hr>
        <h5>查体腹部</h5>
        {{ form1.as_p }}
        <hr>
        <h5>查体运动能力</h5>
        {{ form2.as_p }}
        <hr>
        <h5>查体口腔</h5>
        {{ form3.as_p }}
        <hr>
        <h5>查体肺部</h5>
        {{ form4.as_p }}
        <hr>
        <h5>查体四肢</h5>
        {{ form5.as_p }}
        <hr>
        <h5>查体皮肤</h5>
        {{ form6.as_p }}
        <hr>
		<input type="submit" value="提交" /> 
	</form>

{% endblock %}
