{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

	<form action={% url 'test2_opera_create_url' %} method='POST' enctype='multipart/form-data'> 
		{% csrf_token %}
            
        <h5>院外症状自述调查</h5>
        {{ formset0.as_p }}
        <hr>
        <h5>个人身体健康评估</h5>
        {{ form1.as_p }}
        <hr>
        <h5>个人心理综合素质调查</h5>
        {{ form2.as_p }}
        <hr>
        <h5>个人健康行为调查</h5>
        {{ form3.as_p }}
        <hr>
		<input type="submit" value="提交" /> 
	</form>

{% endblock %}
