{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

	<form action={% url 'test_operation_create_url' %} method='POST' enctype='multipart/form-data'> 
		{% csrf_token %}
            
        <h5>个人基本情况</h5>
        {{ form0.as_p }}
        <hr>
        <h5>遗传病史</h5>
        {{ formset1.as_p }}
        <hr>
        <h5>个人健康行为调查</h5>
        {{ form2.as_p }}
        <hr>
        <h5>输血史</h5>
        {{ formset3.as_p }}
        <hr>
		<input type="submit" value="提交" /> 
	</form>

{% endblock %}
