{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

	<form action={% url 'yuan_qian_zheng_zhuang_diao_cha_biao_update_url' proc_id %} method='POST' enctype='multipart/form-data'> 
		{% csrf_token %}
            
        <h5>个人基本情况_查询视图_1642159528</h5>
        {{ form_basic_personal_information.as_p }}
        <hr>
        <h5>院外症状自述调查</h5>
        {{ form_out_of_hospital_self_report_survey.as_p }}
        <hr>
		<input type="submit" value="提交" /> 
	</form>

{% endblock %}
